[Unit]
Description=deskpi
StartLimitIntervalSec=500
StartLimitBurst=5

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/deskpi
ExecStart=/usr/bin/xinit /opt/deskpi/deskpi -- :1 -logfile /dev/null
Environment=TOGGL_AUTH={{ toggl_auth }}
Environment=TOGGL_PROJECT_ID={{ toggl_project_id }}
Environment=TOGGL_WORKSPACE_ID={{ toggl_workspace_id }}
Environment=WAKE_ON_LAN_MAC={{ wake_on_lan_mac }}
Environment=BOSE_MAC={{ bose_mac }}
Environment=DATADOG_API_KEY={{ datadog_api_key }}
Environment=LATITUDE={{ latitude }}
Environment=LONGITUDE={{ longitude }}
Restart=always
RestartSec=5s
